[core]
	editor = vim
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[push]
	default = tracking
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	st = status
	stt = status -uno # only list tracked files
	co = checkout
	br = branch
	diffstat = diff --stat=150,150
[color]
	status = auto
	branch = auto
	diff = auto
	interactive = auto
[color "status"]
	added = green bold
	changed = yellow bold
	deleted = red bold
	untracked = red
[color "branch"]
	current = green bold
	local = green
	remote = red bold
